<header>
  <h1>SHADOWLANDS</h1>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/Dashboard">Dashboard</a></li>
      <li><a href="/About">About</a></li>
      {{#if loggedIn}}
       <li><a id="logout" class="btn-no-style">Logout</a></li>
      {{else}}
       <li><a href="/login">Login</a></li>
      {{/if}}
    </ul>
  </nav>
</header>