<header>
  <h1>SHADOWLANDS</h1>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/Dashboard/1">Dashboard</a></li>
      <li><a href="/Journey/1">About</a></li>
      {{#if loggedIn}}
        <li><a id="logout" class="btn-no-style">Logout</a></li>
      {{else}}
        <li><a href="/auth">Login</a></li>
      {{/if}}
    </ul>
  </nav>
</header>