<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ShadowLands</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
    integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>

  <head>
  <header>
  <h1>SHADOWLANDS</h1>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/About">About</a></li>
      {{#if sess.loggedIn}}
      <li><a href="/Dashboard/{{sess.userId}}">Dashboard</a></li>
        <li><a href="/Auth/SignOut" id="signout" class="btn-no-style">Sign Out</a></li>
      {{else}}
        <li><a href="/Auth/SignIn">Sign In</a></li>
      {{/if}}
    </ul>
  </nav>
</header>
  </head>
  <main>
    {{{body}}}
  </main>
<script src="/js/fetch/Auth.js"></script>
<script src="/js/fetch/User.js"></script>
</body>
</html>