<style> p, a {display: flex; flex-direction: column} a:hover{text-decoration: underline;}</style>
<p>Troy Johnson</p>
{{!-- <a href="https://github.com/troynj" target="_blank">Github Profile</a> --}}
<a href="https://github.com/troynj/shadowlands" target="_blank">Github Repository</a>
{{!-- <a href="https://gist.github.com/troynj" target="_blank">Github Gists</a> --}}
{{!-- <a href="https://medium.com/@troynjohnson6" target="_blank">Medium Blogs</a> --}}