<h2>CONGRADULATIONS!</h2>
<p>Your Monster's Stats:</p>
<p>Attack: {{cap.attack}}</p>
<p>Health: {{cap.health}}</p>
<p>{{conc}}</p>

<button id="next-journey">continue</button>
<script src="/js/conc.js"></script>