<p>{{intro}}</p>
<button name="Wild" id="{{wild_id}}">Battle a Wild Monster</button>
<button name="Beast" id="{{beast_id}}" >Battle the Shadow Beast</button>

<script src="/js/intro.js"></script>
<script src="/js/fetch/player.js"></script>
<script src="/js/fetch/arena.js"></script>