
<h2 id = "{{account.id}}">{{account.name}}'s Dashboard</h2>
<button class="action">New Game</button>
<section class="dash">
  <table class="saved-games">
    <tr>
      <th>Player</th>
      <th>Location</th>
      <th>Progress</th>
      <th>Save Date</th>
      <th>Actions</th>
    </tr>
{{#each account.players as |player|}}
{{>dashboard-game}}
{{/each}}
  </table>
</section>
  <p>* Note: Upon loading game, progress metric is reset - despite what is recorded</p>
  <p>(current level will persist but you start from the beginning)</p>

<section class="hide" id="backdrop">
  <section id="modal">
    <button id="close">X</button>
    <h3>Create A Player</h3>
    <label for="player-name">Player Name: </label>
      <input type="text" id="player-name" name="confirm-password" placeholder="Enter Name">
<button id="create">Create Player</button>
  </section>
</section>
<script src="/js/dashboard.js"></script>
<script src="/js/fetch/player.js"></script>
<script src="/js/fetch/load.js"></script>
<link rel="stylesheet" href="/css/dashboard.css">

<script src="/js/profile.js"></script>
