<section class="dash">
  <table class="saved-games">
    <tr>
      <th>Player</th>
      <th>Location</th>
      <th>Progress</th>
      <th>Save Date</th>
      <th>Actions</th>
    </tr>
{{#each players as |player|}}
{{>dashboard-game}}
{{/each}}
  </table>
</section>
<script src="js/profile.js"></script>