<link rel="stylesheet" href="/css/sm.css">
<section class="sm">
  <div class="selection">
    <section class="avatars">
      {{#each monProto as |mp|}}
      {{> sm-avatar}}
      {{/each}}
    </section>
    <section class="stats">
      {{monProto.base_health}}
      {{#each monProto as |mp|}}
      {{> sm-stats}}
      {{/each}}
    </section>
  </div>

  <section class="icons">
    {{#each monProto as |mp|}}
    {{>sm-icon}}
    {{/each}}
  </section>
</section>

<script src="/js/sm.js"></script>
<script src="/js/fetch/captured.js"></script>