<section>
  {{#foreach monsters as |monster|}}
  {{>sm-avatar}}
  {{/each}}
</section>
</section>
<section>
  {{#each monsters as |monster|}}
  {{>sm-stats}}
  {{/each}}
</section>
</section>
<section>
  {{#each monsters as |monster|}}
  {{>sm-icon}}
  {{/each}}
</section>