<link rel="stylesheet" href="/css/auth.css">

<form id="signup-form">
  <h2>Sign Up</h2>

  <div class="input-group">
    <label for="username">Username</label>
    <input type="text" id="username" name="username" required>
  </div>

  <div class="input-group">
    <label for="email">Email</label>
    <input type="text" id="email" name="email" placeholder="User Proper Format" required>
  </div>

  <div class="input-group">
    <label for="password">Password</label>
    <input type="password" id="password" name="password" placeholder="Length At Least 8 Characters" required>
  </div>

  <div class="input-group">
    <label for="confirm">Confirm Password</label>
    <input type="password" id="confirm" name="confirm" required>
  </div>

  <button id="submit">Sign Up</button>
  <p class="not-member">Already a member? <a href="/Auth/SignIn">Sign In</a></p>
</form>

<script src="/js/signUp.js"></script>